{% extends "base.html" %}

{% block content %}
<form method="GET" class="search-form">
    <input type="text" name="search" placeholder="Search for movies">
    <button type="submit" class="search-button">Search</button>
</form>
<h2 class="movie-list-h2">Popular Movies this month </h2>
<div class="container">
    {% if movie_list %}
        {% for movie in movie_list %}
            <div class="movie-card">
                <img src="{{ movie.image.url }}" alt="{{movie.name}}" height="300px" width="200px">
                <h3 class="movie-title"> {{movie.name}}</h3>
                <p> {{movie.duration}} Minutes</p>
                <p> User Rating : {{movie.userRating}} </p>
                <a href="{{movie.get_absolute_url}}" style="text-decoration: none; font-weight: bold;">More Details</a>
            </div>
        {% endfor %}

    {% else %}
        <h1>No movies available</h1>
    {% endif %}
</div>
{% endblock %}