* {
    margin: 0;
    padding: 0;
}



html, body {
    font-family: "Roboto", sans-serif;
}

.movie-list-h2 {
    width: 80%;
    margin: 0 auto;
}



.header {
    width: 80%;
    margin: 15px auto;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
    gap: 50px;
}

.movie-card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 200px;
}

.movie-title {
    font-size: 18px;
    text-decoration: none;
    color: black;
}

.detail-container {
    display: flex;
    width: 80%;
    margin: 0 auto;
    gap: 50px;
}

.search-form {
    width: 80%;
    margin: 0 auto;
}